@model SRRSBakery.ViewModels.ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h4>Here are the delicious Item in your shopping cart.</h4>

<table class="table differentTable table-bordered ">
    <thead>
    <tr>
        <th>Selected amount</th>
        <th>Item</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
        <th class="text-right">Remove</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            <td class="text-center">
	        <h5><a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-itemId="@line.Item.ItemId"><img src="~/images/minus5.png" width="21" height="22" /></a>  @line.Amount  <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-itemId="@line.Item.ItemId"><img src="~/images/add3.png" width="25" height="25" /></a>
            </h5></td>
            <td class="text-left">@line.Item.Name</td>
            <td class="text-right">Rs.@line.Item.Price.ToString("n")</td>
            <td class="text-right">
                Rs.@((line.Amount * line.Item.Price).ToString("n"))
            </td>
            <td class="text-center"><a asp-controller="ShoppingCart" asp-action="RemoveItemShoppingCart" asp-route-itemId="@line.Item.ItemId"><img src="~/images/delete2.png" height="28" width="27" /> 
            </a></td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
           Rs.@Model.ShoppingCartTotal.ToString("n")
        </td>
        
    </tr>
    </tfoot>
</table>
<button class="rounded"><a asp-controller="ShoppingCart" asp-action="ClearCart">Clear Cart</a></button>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Category" asp-action="ListCategory">Back to List</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="DiscountItem">Proceed To Delivery</a>
</div>


