@model Item
<html>
    <Center>
<h2>@Model.Name</h2>
<body>

<div class="thumbnail">
    <a asp-controller="Item" asp-action="ImageLarge" asp-route-id="@Model.ItemId"><img alt="@Model.Name" src="@Model.ImageUrlLarge"></a>
    <div class="">
        <h3 class="">Rs.@Model.Price</h3>
        <h3>
            <a class="text-dark" href="#">@Model.Name</a>
        </h3>
        <h4>Short Desciption:@Model.ShortDescription</h4>
        <h5>Long Description:@Model.LongDescription</h5>
        <div class="addToCart">
            <p class="button">
                <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary" 
                       asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart"
                       asp-route-ItemId="@Model.ItemId">Add to cart</a>
                </p>
            </div>

                   @*asp-route-ItemId="@Model.ItemId"*@
            </p>
        </div>
    </div>
</div>
<table>
    @{
        if (Context.User.Identity.Name=="admin@gmail.com")
        {
                <tr><td><a asp-controller="Item" asp-action="Edit" asp-route-id="@Model?.ItemId">Update/Edit Item</a></td></tr>
                <tr><td><a asp-controller="Item" asp-action="Remove" asp-route-id="@Model?.ItemId">Remove Item</a></td></tr>
        }
     }
    <br/>
    <br/>
    <tr><td><a asp-controller="Item" asp-action="List">GO TO List</a></td></tr>
    <tr><td><a asp-controller="Category" asp-action="ListCategory">Home</a></td></tr>
</table>
</body>
</Center>
</html>