
@model IEnumerable<SRRSBakery.Models.Item>


<br/>
<br/>
@{
    if (@Model.Count() != 0)
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img style="border-radius:50%" src="@item.ImageUrl" alt="" width="200" height="200">
                        <div class="caption">
                            <h3 class="pull-right">₹@item.Price.ToString("n")</h3>
                            <h3>
                                <a asp-controller="item" asp-action="Details" asp-route-id="@item.ItemId">@item.Name</a>
                            </h3>               
                            <p>@item.ShortDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h4>Soory, No items :)</h4>
        <br/>
        <a><h4>You Can check our other Categories => <a href="#" onclick="history.back();">More Category</a></h4></a>
    }
}



